node_modules
_redirects
.bundle
.jekyll-cache
.jekyll-metadata
_patches
_site
docs
vendor
otp_versions.table
assets/js/bootstrap
assets/js/prismjs
assets/js/fontawesome-free
assets/webfonts/fontawesome-free
_clones
_eeps
eeps
faq
assets/js/*.bundle.js*
LATEST_MAJOR_VSN
otp-headers
