node_modules
.bundle
.jekyll-cache
.jekyll-metadata
_data/releases.json
_patches
_site
vendor
doc
!doc/search.html
docs
!docs/versions.html
otp_versions.table
assets/js/bootstrap
assets/js/prismjs
assets/js/fontawesome-free
assets/webfonts/fontawesome-free
_clones
_eeps
eeps
faq
assets/js/*.bundle.js*
