{% comment %}
The assign below is very hacky, but liquid does not (as far as I can tell) allow us
to get a dynamic field from an object. So in order to simulator this we:
1. create an empty array using `"" | split: ','`
2. push the object to the array
3. map each object in the array to an array with only that field
4. take the first element of that array
{% endcomment %}
{% assign url = "" | split: ',' | push: include.current | map: include.src | first %}
{% assign url = include.currentUrl | default: url %}
{% if url %}
<div class="btn-group" role="group">
    <a href="{{ url }}" class="btn btn-primary w-75">
        {{ include.label }}
    </a>
    {% if include.dropdown_label %}
    <div class="btn-group" role="group">
        <button id="{{ include.label | slugify }}" type="button" class="btn btn-primary dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ include.label  | slugify }}">
            <li>
                <a class="dropdown-item " href="{{ include.dropdown_url }}">
                    {{ include.dropdown_label }}
                </a>
            </li>
            {% if include.dropdown2_url %}
            <li>
                <a class="dropdown-item " href="{{ include.dropdown2_url }}">
                    {{ include.dropdown2_label }}
                </a>
            </li>
            {% endif %}
            {% if include.dropdown3_url %}
            <li>
                <a class="dropdown-item " href="{{ include.dropdown3_url }}">
                    {{ include.dropdown3_label }}
                </a>
            </li>
            {% endif %}
            {% if include.dropdown4_url %}
            <li>
                <a class="dropdown-item " href="{{ include.dropdown4_url }}">
                    {{ include.dropdown4_label }}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}