<!--
    See the comment in _default.scss for how the responsive collapse work
-->
<div class="card collapse-expand-md">
    <div class="card-header navbar-light">
        <div class="row">
            <div class="col-auto d-md-none">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#downloadCardBody" aria-controls="downloadCardBody" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col">
                <div class="row text-center">
                    <div class="col-xl">
                        <strong>Erlang/OTP {{ include.current.name }}</strong>
                    </div>
                    <div class="col-xl-2">
                        <a href="{{ include.current.html_url }}">
                            {% include svg-symbol.html symbol="github" title="View on github.com" width="32" height="32" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="downloadCardBody" class="collapse navbar-collapse">
        <div class="card-body d-grid gap-2">
            <!-- Download source button group -->
            {% include downloads-button-group.html label="Download source"
            src="src" current=include.current releases=include.releases %}
            <!-- Download windows button group -->
            {% include downloads-button-group.html label="Download Windows installer"
            src="win64_exe" current=include.current releases=include.releases
            dropdown_url=include.current.win64_exe
            dropdown_label="Download 64-bit Installer"
            dropdown2_url=include.current.win32_exe
            dropdown2_label="Download 32-bit Installer"
            dropdown3_url=include.current.win64_zip
            dropdown3_label="Download 64-bit Zip Archive"
            dropdown4_url=include.current.win32_zip
            dropdown4_label="Download 32-bit Zip Archive"
            %}
            <!-- Download Release notes button group -->
            {% include downloads-button-group.html label="Download Release notes"
            src="readme" current=include.current releases=include.releases %}
            <!-- View/Download docs button group -->
            {% include downloads-button-group.html label="View documentation"
            currentUrl=include.currentDocsUrl
            src="html" current=include.current releases=include.releases
            dropdown_url=include.current.html
            dropdown_label="Download HTML+PDF Documentation"
            dropdown2_url=include.current.man
            dropdown2_label="Download Man Pages"
            %}
        </div>
    </div>
</div>