<aside class="sidebar text-muted collapse-expand-lg">
    <div class="border-bottom navbar-light d-flex py-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarToggle"
            aria-controls="sidebarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <strong class="text-nowrap h6 ps-3">All releases</strong>
    </div>
    <div id="sidebarToggle" class="collapse navbar-collapse">
        <nav>
            <ul class="nav flex-column text-nowrap">
                {% assign sortedReleases=site.data.releases | sort: "release" | reverse %}
                {% for r in sortedReleases %}
                <li class="nav-item">
                    {% assign rStr = r.release | append: "" %}
                    {% if rStr == include.currentRelease.release %}
                    <a href="{{ '/downloads/' | append: r.release | relative_url }}" class="nav-link" role="button" aria-expanded="true">
                        Erlang/OTP {{ r.release }}</a>
                    <ul class="nav flex-column">
                        {% for p in include.currentRelease.patches %}
                        <li class="nav-item ms-3">
                            <a class="nav-link py-0" href="{{ '/patches/' | append: p.tag_name | relative_url }}">{{ p.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ '/downloads/' | append: r.release | relative_url }}" class="nav-link" role="button">
                        Erlang/OTP {{ r.release }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <small>There is a file containing MD5 checksums for all files in the
                <a href="http://erlang.org/download">download directory</a>,
                also reachable through
                <code>rsync rsync.erlang.org::erlang-download</code></small>
        </nav>
    </div>
</aside>