<div class="btn-group">
    {% assign url=include.url | replace: "@vsn@", include.latest %}
    <a href="{{ include.latestUrl | default: url }}"
        class="btn btn-primary w-75">{{ include.label }}</a>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        {% for r in include.releases %}
        <li>
            <a class="dropdown-item"
                href="{{ include.url | replace: "@vsn@", r }}">
                Erlang/OTP {{ r }}</a>
        </li>
        {% endfor %}
    </ul>
</div>