<!--
    See the comment in _default.scss for how the responsive collapse work
-->
<div class="card collapse-expand-md">
    <div class="card-header navbar-light">
        <button class="float-start navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#downloadCardBody" aria-controls="downloadCardBody" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row text-center">
            <div class="col-xl">
                <strong>Latest version is {{ include.current.name }}</strong>
            </div>
            <div class="col-xl-2">
                <a href="{{ latest.html_url }}">
                    <img src="{{ '/assets/img/GitHub-Mark-32px.png' | relative_url }}" alt="View on github.com"></a>
            </div>
        </div>
    </div>
    <div id="downloadCardBody" class="collapse navbar-collapse">
        <div class="card-body d-grid gap-2">
            <!-- Download source button group -->
            {% include downloads-button-group.html label="Download source"
            src="src" current=include.current releases=include.releases %}
            <!-- Download windows button group -->
            {% include downloads-button-group.html label="Download Windows installer"
            src="win32" current=include.current releases=include.releases %}
            <!-- Download Release notes button group -->
            {% include downloads-button-group.html label="Download Release notes"
            src="readme" current=include.current releases=include.releases %}
            <!-- View/Download docs button group -->
            {% include downloads-button-group.html label="View documentation" currentUrl=include.currentDocsUrl
            src="html" current=include.current releases=include.releases %}
        </div>
    </div>
</div>