<aside class="sidebar text-muted">
    <strong class="text-nowrap d-block h6 ps-3 border-bottom">All releases</strong>
    <nav>
        <ul class="nav flex-column text-nowrap">
            {% assign sortedReleases=site.releases | sort: "release" | reverse %}
            {% for r in sortedReleases %}
            <li class="nav-item">
                {% assign rStr = r.release | append: "" %}
                {% if rStr == include.currentRelease.release %}
                <a href="{% link _releases/{{ r.release }}.md %}" class="nav-link fw-bold">
                    Erlang/OTP {{ r.release }}</a>
                <ul class="nav flex-column">
                    {% for p in include.currentRelease.patches %}
                    <li class="nav-item ms-3">
                        <a class="nav-link py-0" href="{% link _patches/{{ p.tag_name }}.md %}">{{ p.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{% link _releases/{{ r.release }}.md %}" class="nav-link">
                    Erlang/OTP {{ r.release }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <small>There is a file containing MD5 checksums for all files in the <a href="http://erlang.org/download">download
            directory</a>, also reachable
        through <code>rsync rsync.erlang.org::erlang-download</code></small>
    </nav>
</aside>