<div class="btn-group">
    {% comment %}
    The assign below is very hacky, but liquid does not (as far as I can tell) allow us
    to get a dynamic field from an object. So in order to simulator this we:
    1. create an empty array using `"" | split: ','`
    2. push the object to the array
    3. map each object in the array to an array with only that field
    4. take the first element of that array
    {% endcomment %}
    {% assign url = "" | split: ',' | push: include.current | map: include.src | first %}
    <a href="{{ include.currentUrl | default: url }}" class="btn btn-primary w-75">
        {{ include.label }}
    </a>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        {% assign urls=include.releases | map: include.src %}
        {% for r in include.releases %}
        <li>
            <a class="dropdown-item" href="{{ urls[forloop.index0] }}">
                Erlang/OTP {{ r.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>