<aside class="sidebar text-muted collapse-expand-lg">
    <div class="border-bottom navbar-light">
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarToggle"
            aria-controls="sidebarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <strong class="text-nowrap ps-3">All releases</strong>
    </div>
    <div id="sidebarToggle" class="collapse navbar-collapse">
        <nav>
            <ul class="nav flex-column text-nowrap">
                {% assign sortedReleases=site.data.releases | sort: "release" | reverse %}
                {% for r in sortedReleases %}
                <li class="nav-item">
                    {% assign rStr = r.release | append: "" %}
                    {% if rStr == include.currentRelease.release %}
                    {% assign aria="true" %}
                    {% assign show="show" %}
                    {% else %}
                    {% assign aria="false" %}
                    {% assign show="" %}
                    {% endif %}
                    <a href="#nav-{{ r.release }}" data-bs-toggle="collapse" class="nav-link" role="button"
                        aria-expanded="{{aria}}">
                        Erlang/OTP {{ r.release }}</a>
                    <div class="collapse {{show}}" id="nav-{{ r.release }}">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item ms-3">
                                <a class="nav-link py-0 {% if include.currentPatch == nil and aria == "true" %}active" aria-current="page{% endif %}"
                                    href="{{ '/downloads/' | append: r.release | relative_url }}">Highlights</a></li>
                            {% for p in r.patches %}
                            <li class="nav-item ms-3">
                                <a class="nav-link py-0 {% if include.currentPatch == p.name %}active" aria-current="page{% endif %}"" href="{{ '/patches/' | append: p.tag_name | relative_url }}">{{
                                    p.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <small>There is a file containing MD5 checksums for all files in the
                <a href="http://erlang.org/download">download directory</a>,
                also reachable through
                <code>rsync rsync.erlang.org::erlang-download</code></small>
        </nav>
    </div>
</aside>