<div class="navbar navbar-expand-lg navbar-light bg-body">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/img/erlang.png" class="img-fluid" width="60" /></a>
        <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
            <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/downloads">Download</a></li>
                <li class="nav-item"><a class="nav-link" href="/docs">Documentation</a></li>
                <li class="nav-item"><a class="nav-link" href="/community">Community</a></li>
                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/eeps">EEP</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>
            <form class="d-flex" role="search" method="post" action="https://duckduckgo.com/?kg=p"
                onsubmit="document.getElementById('searchq').value = document.getElementById('searchfield').value + ' site:erlang.org'; return true;">
                <input type="hidden" id="searchq" name="q" class="hidden" />
                <input class="form-control me-2" id="searchfield" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>