{% capture nlnl %}

{% endcapture %}
{% if include.app %}
<div class="card">
    <div class="card-header">
        <h4>{{ include.title }} <a name="{{ include.name }}" href="#{{ include.name }}">#</a></h4>
    </div>
    <div class="card-body">
        {% if include.app.pre %}
        <p>
            {{ include.app.pre }}
        </p>
        {% endif %}
        <dl class="px-4">
            {% for ticket in include.app.tickets %}
            <dt id="{{ticket[0]}}" class="border-bottom">{{ ticket[0] }}</dt>
            <dd>
                <dl class="dl-single">
                    <dt>Application(s): </dt>
                    <dd>{{ ticket[1].Applications }}</dd>
                    {% if ticket[1].RelatedIds %}
                    <dt>Related Id(s): </dt>
                    <dd>
                        {% assign ids = ticket[1].RelatedIds | split: ", " %}
                        {% for id in ids %}
                        {% include patch-related-links.html id=id %}{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </dd>
                    {% endif %}
                </dl>
                {% assign ps = ticket[1].release_note | split: nlnl %}
                {% for p in ps %}
                <p>
                    {{ p | escape | newline_to_br }}
                </p>
                {% endfor %}
                {% endfor %}
            </dd>
        </dl>
        {% if include.app.post %}
        <p>
            {{ include.app.post }}
        </p>
        {% endif %}
    </div>
</div>
{% endif %}