{% assign splitId=include.id | split: "-" %}
{% assign splitIdSize=splitId | size %}
<!-- convert to int and then to string -->
{% assign intId=splitId[1] | plus: 0 | append: "" %}
<!-- check if only 1 '-' in id and if second part is int -->
{% if splitIdSize == 2 and intId == splitId[1] %}

{% case splitId[0] %}
{% when "ERL" %}
<a href="/bugs/{{ include.id }}">{{ include.id }}</a>
{% when "GH" %}
<a href="https://github.com/erlang/otp/issues/{{ splitId[1] }}">{{ include.id }}</a>
{% when "PR" %}
<a href="https://github.com/erlang/otp/pull/{{ splitId[1] }}">{{ include.id }}</a>
{% when "OTP" %}
<a href="#{{ include.id }}">{{ include.id }}</a>
{% else %}
{{ include.id }}
{% endcase %}

{% else %}
{{ include.id }}
{% endif %}