{% if include.id contains "ERIERL" %}
{{ include.id }}
{% elsif include.id contains "ERL-" %}
<a href="https://bugs.erlang.org/browse/{{ include.id }}">{{ include.id }}</a>
{% elsif include.id contains "GH-" %}
<a href="https://github.com/erlang/otp/issues/{{ include.id | split: '-' | last }}">
    {{ include.id }}</a>
{% elsif include.id contains "PR-" %}
<a href="https://github.com/erlang/otp/pull/{{ include.id | split: '-' | last }}">
    {{ include.id }}</a>
{% elsif include.id contains "OTP-" %}
<a href="#{{ include.id }}">
    {{ include.id }}</a>
{% else %}
{{ include.id }}
{% endif %}