<article class="card mb-4">
    <div class="card-header">
        <h3><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h3>
        <div class="date">{{ include.post.date | date: "%B %d, %Y" }}
            {% if include.post.author %} · by {{ include.post.author }}{%endif %}
        </div>
    </div>

    <div class="card-body">
        {% if include.excerpt %}
        {% if include.post.lead %}
        <p>
            {{ include.post.lead }}
        </p>
        {% else %}
        {{ include.post.excerpt }}
        {% endif %}
        <a href="{{ include.post.url | relative_url }}" class="read-more">Read More</a>
        {% else %}
        {% comment %}Add img-fluid class to get nicer images{% endcomment %}
        {% assign html=include.post.content | replace: '<img ', '<img class="img-fluid"' %}
        {% assign html=html | replace: "<blockquote>", "<blockquote class='blockquote'>" %}
        {% include anchor_headings.html html=html anchorBody="#" generateId=true %}
        {% endif %}
    </div>
</article>
