@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-mixins";

.bg-erlang-grey {
  background-color: $erlang-grey;
}

.footer {
  @include my(3);
  @include py(3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
