$erlang-red: #a2003e;
$erlang-grey: #424242;

$primary: $erlang-red;
$link-color: $erlang-red;
$navbar-light-color: $erlang-red;
$link-hover-color: $erlang-grey;
$body-color: $erlang-grey;

// Copied default font-family for bootstrap from bootstrap/scss/variables.scss
// and then pre-pended "Open Sans". I used https://fonts.google.com/?category=Serif,Sans+Serif&sort=popularity
// to find a nice font.
$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
