---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main";

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: map-get($spacers, 5);
  }
}

@include media-breakpoint-down(lg) {
  .body {
    .main {
      grid-template-columns: 1fr;
    }
  }
}