---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 0px 7fr 2fr 0px;
  gap: map-get($spacers, 5);
  grid-template-areas:
    ". main sidebar .";

  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
}

@include media-breakpoint-down(md) {
  .body {
    grid-template-columns: 1fr;
    gap: map-get($spacers, 0);
    grid-template-areas:
      "sidebar"
      "main";

    .sidebar {
      grid-area: sidebar;
      .books {
        display: none;
      }
      .faq {
        display: none;
      }
    }
    .main {
      grid-area: main;
    }
  }
  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none !important;
  }
}

.DocSearch-Button {
  margin: 0 0 0 0px !important;
}