---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 0px 7fr 2fr;
  gap: map-get($spacers, 5);
  grid-template-areas: ". main sidebar";

  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
}