---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav-item .btn {
  &:before {
    @extend .fas;
    @include pr(1);
    content: fa-content($fa-var-angle-right);
  }
}
// .btn::before {
//   width: 1.25em;
//   line-height: 0;
//   content: $accordion-button-icon;
//   //transform-origin: .5em 50%;
// }