---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 1fr 5fr;

  .sidebar {
    
  }
}

.nav-item button {
  &:before {
    @extend .fas;
    @include pr(1);
    content: fa-content($fa-var-angle-right);
    transition: $accordion-icon-transition;
    transform-origin: left;
  }
}

.nav-item button[aria-expanded="true"] {
  color: $erlang-red;
  &:before {
    transform: rotate(90deg);
  }
}

aside nav {
  overflow-y: auto;
  position: sticky;
  height: calc(100vh - 7rem);
}

.nav-item a {
  @include pl(4);
}