---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 0px 7fr 1fr;
  gap: map-get($spacers, 5);
  grid-template-areas: ". main sidebar";

  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;

    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-areas:
      "header . links"
      "content content content";
    
      .header {
        grid-area: header;
        @include pr(4);
      }
      .links {
        grid-area: links;
      }
      .content {
        grid-area: content;
      }
  }
}

.docker:before {
  @extend .fab;
  @include pr(1);
  content: fa-content($fa-var-docker);
}

.nav-item button {
  &:before {
    @extend .fas;
    @include pr(1);
    content: fa-content($fa-var-angle-right);
    transition: $accordion-icon-transition;
    transform-origin: left;
  }
}

.nav-item button[aria-expanded="true"] {
  color: $erlang-red;
  &:before {
    transform: rotate(90deg);
  }
}

aside nav {
  overflow-y: auto;
  position: sticky;
  height: calc(100vh - 7rem);
}
