---
---

@import "default";
@import "prism-coy";

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "main";

  .main {
    grid-area: main;

    display: grid;
    gap: map-get($spacers, 4);
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content sidebar";

    .sidebar {
      grid-area: sidebar;
    }
    .content {
      grid-area: content;
    }
  }
}

@include media-breakpoint-down(lg) {
  .body {
    .main {
      gap: map-get($spacers, 1);
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "content"
        "sidebar";
    }
  }
}

.sidebar nav {
  position: sticky;
  top: 1rem;
  overflow-y: auto;
  height: fit-content;
  max-height: calc(100vh - 9rem);
}

.sidebar .nav-link {
  white-space: normal;
  font-size: 0.9em;
}
