.erlsyntax {
    white-space: pre;
    border: 1px dotted #a0a0a0; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: #f0f0f0; 
    margin: 0; 
    padding: 0;
    color: #000099;
    overflow: auto;
    width: 100%;
}

.erlsyntax li {
    list-style-type: decimal;
    padding: 10;
    background-color: #e0e0e0;
}

.erlsyntax ol {
    color: #000000BB;
}

.erlsyntax .line {
    color: #000060; 
    font-weight: normal;
}

.erlsyntax .function {
    color: blue;
}

.erlsyntax .string {
    color: #00ff00;
}

.erlsyntax .record {
    color: blue;
}

.erlsyntax .variable {
    color: orange;
}

.erlsyntax .keyword {
    color: red;
}

.erlsyntax .directive {
    color: blue;
}

.erlsyntax .comment {
    color: green;
}

.erlsyntax .character {
    color: orange;
}

.erlsyntax .macro {
    color: grey;
}