---
---
@import "default";
@import "prismjs/themes/prism-okaidia";

/*
 * Set background to grey so that it blends in
 */
pre[class*="language-"] {
    background: $erlang-grey;
};

/*
 * This sets the content of the code example to be put in the center.
 * This makes it look better on small screens.
 *
 * Ideally this would have been controlled by margin-auto and width-auto in the styling of the
 * <pre>, but as the prism layout is applied after other css things we need to change the layout here
 */
pre[class*="language-"] {
    margin: auto;
    width: fit-content;
};