---
---
@import "default";
@import "prismjs/themes/prism-okaidia";

/*
 * Set background to grey so that it blends in
 */
pre[class*="language-"] {
  background: $erlang-grey;
}

/*
 * This sets the content of the code example to be put in the center.
 * This makes it look better on small screens.
 *
 * Ideally this would have been controlled by margin-auto and width-auto in the styling of the
 * <pre>, but as the prism layout is applied after other css things we need to change the layout here
 */
pre[class*="language-"] {
  @include m(auto);
  width: fit-content;
}

.banner {
  display: grid;
  .slogan {
    place-self: center;
  }
}

/* lg and larger */
@include media-breakpoint-up(lg) {
  .banner {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;

    .slogan {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .download {
      grid-column-start: 1;
      grid-row-start: 2;
      @include pb(3);
    }

    .example {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      .small {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
    .banner {
        grid-template-rows: 1fr 1fr;
    }
}

/* smaller than lg */
@include media-breakpoint-down(lg) {
  .banner {
    .download {
      display: none;
    }

    .example {
      .large {
        display: none;
      }
    }
  }
}

.content {
  display: grid;
  .news,
  .participate,
  .what-is-erlang,
  .what-is-otp {
    @include px(4);
    @include pt(2);
  }
}

@include media-breakpoint-up(md) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "news what-is-erlang"
      "news what-is-otp"
      "participate what-is-otp"
    ;

    .news {
      grid-area: news;
    }
    .participate {
      grid-area: participate;
    }

    .what-is-erlang {
      grid-area: what-is-erlang;
    }
    .what-is-otp {
      grid-area: what-is-otp;
    }
  }
}
