---
---

@import "default";
// @import "prismjs/themes/prism-coy";
@import "prism-coy";

/* This is needed in order for the prism-coy highlight shadow to be visible */
.card {
  background: transparent;
}

blockquote.blockquote {
  @include pl(4);
}

/* We decrease the size of the headers in order to look better in cards */
.card-body h1 {
  font-size: 1.75rem;
}

.card-body h2 {
  font-size: 1.5rem;
}

.card-body h3 {
  font-size: 1.25rem;
}

.card-body h4 {
  font-size: 1rem;
}

.card-body h5 {
  font-size: 0.9rem;
}

.card-body h6 {
  font-size: 0.75rem;
}

/* Code in headers should only have a monospace font */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: $body-color;
  border: 0px;
  background: white;
  padding: 0px;
}
