.mailing
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
.mailing li
{
background-image: url(/img/bubble.png);
background-repeat: no-repeat;
background-position: 0px 2px;
padding-left: 29px;
}
.book-pics{
    height:120px;
}
.middle-splash{
    background-color:#EEE;
    padding-top:10px;
    margin-bottom:20px;
}
#menu-row{
    margin-top:20px;
}
.divider{
    border-bottom:1px solid #EEE;margin-bottom:10px;margin-top:10px;
}
a{
    color: #A2003E;!important
    color: #A2003E;!important
}

.col-margin-b{
    margin-bottom:20px;
}
#nav-row{
    padding-top:10px;
}
.navbar-nav > li > a{
    color: #A2003E;!important
    color: #A2003E;!important
}
.download-div{
    padding-top:25px;
    padding-bottom:25px;
    background-color:#424242;
}
.commit-div{
    background-color:#AD0042;
    color:#FFF;
    margin-bottom:20px;
}
#commits{
    font-size:12px;
}
.col-height-200{
    height:200px;
}
.commit-links{
    color:#FFF;
}
.commit-links:hover,
.commit-links:active,
.commit-links:disabled{
    color: #FFF;
    color: #FFF;
}
.commit-heading{
    font-weight:bold;
    text-shadow: 1px 1px 0px #000;
}
.tab-nbsp{
    position:relative;left:10px;
}
.inside-cols-big{
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-top:20px;
}
.inside-cols{
    padding:10px;
}
.menu-headlines{
    font-weight:700;
    text-shadow: 1px 1px 0px #CCC;
}
.headlines{
    font-weight:600;
    text-shadow: 1px 1px 0px #CCC;
}
.sub-headlines{
    color:#6d6d6d;
    text-shadow: 1px 1px 0px #CCC;font-weight:600;
}
a:hover,
a:active,
a:disabled{
    color: #A2003E;
    color: #A2003E;
}
.btn-default {
    background-color: #A2003E;
    *background-color: #A2003E;
    background-image: -ms-linear-gradient(top, #C10053, #A2003E);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C10053), to(#A2003E));
    background-image: -webkit-linear-gradient(top, #C10053, #A2003E);
    background-image: -o-linear-gradient(top, #C10053, #A2003E);
    background-image: -moz-linear-gradient(top, #C10053, #A2003E);
    background-image: linear-gradient(top, #C10053, #A2003E);
    background-repeat: repeat-x;
    border-color: #A2003E #A2003E #A2003E;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#C10053', endColorstr='#A2003E', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled] {
  background-color: #A2003E;
  *background-color: #A2003E;
}

.col-lg-12 {
  max-width: 100%;
}
