---
---
@import "default";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

.body {
  display: grid;
  grid-template-columns: 0px 7fr 2fr 0px;
  gap: map-get($spacers, 5);
  grid-template-areas:
    ". main sidebar .";

  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
}

@include media-breakpoint-down(md) {
    .body {
        grid-template-columns: 1fr;
        gap: map-get($spacers, 0);
        grid-template-areas:
            "main"
            "sidebar";
        .search-refinements {
            display: none;
        }
    }
}

.search-box {
    margin-left: 0.5rem;
}

.search-hits {
    margin-left: 0.5rem;
    a:link { 
        text-decoration: none; 
    }
    a:visited { 
        text-decoration: none; 
    }
    overflow: hidden;
}

.search-refinements {
    h4 {
        margin-top: 0.5rem;
    }
}

.search-pagination {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.hit-name {
    margin-top: 0.0rem;
    margin-bottom: 0.2rem;
}

.hit-tag {
    color: rgb(114, 114, 114);
    margin-bottom: 1rem;
}

.hit-tag code {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.hit-text {
    color: #1a1a1a;
}

.algolia-docsearch-suggestion--highlight {
    border-bottom: 1px solid #ccc;
}

.search-clear-refinements {
    margin-top: 1rem;
}
