td .twitterl
{
    height: 100px;
}

.twitterl, .twitterl textarea 
{
    width: 508px;
    height: 2.5em;
    font-size: 1.15em;
    font-family:'Lucida Grande',sans-serif;
}

.twitterl_counter
{
    font-size: 2.45em;
    font-weight: bolder;
    font-family:'Georgia','Serif';
}