{erl_opts, [no_debug_info]}.
{deps, [jsone, certifi, ssl_verify_fun]}.

{escript_incl_apps, ['erlang-org']}.
{escript_main_app, 'erlang-org'}.
{escript_name, 'erlang-org'}.
{escript_emu_args, "%%! +sbwt none +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
