[
 {
   erlorg,
   [
    {http_port, 8080},
    {http_listener_count, 10},
    %% Mailing Lists
    {mailinglists, ["erlang-questions"]},
    {mailinglists_baseurl, "http://erlang.org/pipermail/"},
    {mailinglists_maxlimit, 100},
    {mailinglists_timeout, 100000},
    %% EEPS
    {eeps_dir, "./"},
    {eeps_default, "eep-0000.html"},
    %% Documentation
    {documentation_dir, "./"},
    {documentation_prefix, "doc-"},
    %% RSS
    {rss_news_limit, 5},
    {rss_event_limit, 5},
    {rss_download_limit, 2},
    {rss_overall_limit, 10}
   ]
 },
 %% Sumo DB
 {
   sumo_db,
   [
    {log_queries, false},
    {query_timeout, 30000},
    {storage_backends,
     [{erlorg_pgsql_backend,
       sumo_backend_pgsql,
       [{username, "postgres"},
        {password, "postgres"},
        {host,     "127.0.0.1"},
        {port,     5432},
        {database, "erlang_org"},
        {poolsize, 10}]
      }
     ]
    },
    {stores,
     [{erlorg_pgsql,
       erlorg_store_pgsql,
       [{storage_backend, erlorg_pgsql_backend},
        {workers, 10}]
      }
     ]
    },
    {docs,
     [ {erlorg_links,           erlorg_pgsql}
     , {erlorg_link_categories, erlorg_pgsql}
     , {erlorg_articles,        erlorg_pgsql}
     , {erlorg_releases,        erlorg_pgsql}
     ]
    },
    {events, []}
   ]
 },
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers,
     [
      {lager_console_backend,
       [debug,
        {lager_default_formatter,
         [
          color, time, " [", severity, "]",
          " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
          message, "\e[0m\n"
         ]
        }
       ]
      }
     ]
    }
   ]
 },
 {sasl, [{sasl_error_logger, false}]},
 "rel/ops.config"
].
