<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="Overall RSS 2.0 Feed" href="{{ '/rss' | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="News RSS 2.0 Feed" href="{{ '/rss/news' | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="Article RSS 2.0 Feed" href="{{ '/rss/articles' | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="Events RSS 2.0 Feed" href="{{ '/rss/event' | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="Downloads RSS 2.0 Feed" href="{{ '/rss/download' | relative_url }}" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>
    {% include header.html %}
    {{ content }}
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/node_modules/prismjs/prism.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/node_modules/prismjs/components/prism-erlang.js' | prepend: site.baseurl }}"></script>
</body>

</html>