---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

{% assign default_title=page.name| split: "." | first | capitalize %}
{% assign title=page.title | default: default_title | append: " - " | append: site.title %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Allow pinning of website on windows -->
    <meta name="application-name" content="Erlang.org">
    <meta name="msapplication-tooltip" content="The official home of the Erlang Programming Language">
    <meta name="msapplication-starturl" content="{{ '/' | relative_url }}" >

    <!-- Make the site look nicer on facebook -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Erlang.org">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="The official home of the Erlang Programming Language">
    <meta property="og:image" content="{{ '/assets/img/erlang-228x200.png' | absolute_url }}">
    <meta property="og:image:secure_url" content="{{ '/assets/img/erlang-228x200.png' | absolute_url }}">
    <meta property="og:url" content="{{ '/' | absolute_url }}">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Index" />
    <meta name="twitter:site" content="@erlang_org" />

    <!-- Rich data for google search -->
    <script type="application/ld+json">
{"@type":"WebSite","url":"https://www.erlang.org/","headline":"{{ title }}","name":"Erlang.org","sameAs":["https://twitter.com/erlang_org","https://github.com/erlang/otp"],"@context":"https://schema.org"}</script>

    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- tells iOS browsers to not show telephone numbers as links -->
    <meta name="format-detection" content="telephone=no">

    <meta name="application-name" content="Erlang.org">
    <meta name="description" content="The official home of the Erlang Programming Language">
    <meta name="keywords" content="Erlang programming language functional parallel distributed documentation download community">
    <!-- https://www.rssboard.org/rss-autodiscovery -->
    <link rel="alternate" type="application/atom+xml" title="News Atom Feed" href="{{ '/news.xml' | absolute_url }}" />
    <link rel="alternate" type="application/atom+xml" title="Blog Atom Feed" href="{{ '/blog.xml' | absolute_url }}" />
    {% assign css=layout.css | default: page.css | default: 'main' %}
    <link rel="stylesheet" href="{{ '/assets/css/' | append: css | append: '.css' | relative_url }}">
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-light bg-body">
        <nav class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ '/' | relative_url }}"><img
                    src="{{ '/assets/img/erlang-logo.svg' | relative_url }}" class="img-fluid" width="60" alt="Erlang.org main page"/></a>
            <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
                <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ '/downloads' | relative_url }}">Download</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/docs' | relative_url }}">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/community' | relative_url }}">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/news' | relative_url }}">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/blog' | relative_url }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/eep' | relative_url }}">EEP</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/about' | relative_url }}">About</a></li>
                </ul>
                <form class="d-flex" role="search" method="get" action="https://duckduckgo.com/">
                    <input type="hidden" name="sites" value="erlang.org">
                    <input class="form-control me-2" id="searchfield" name="q" type="search" placeholder="Search erlang.org"
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    {{ content }}
    <footer class="container-fluid footer text-center border-top border-bottom">
        <div>
            <a href="{{ '/downloads.html' | relative_url }}" title="DOWNLOAD"><img src="{{ '/assets/img/download.png' | relative_url }}" alt="Download Erlang/OTP"></a>
        </div>
        <div>
            <a href="http://www.github.com/erlang/otp"><img
                    src="{{ '/assets/img/GitHub-Mark-32px.png' | relative_url }}" alt="Erlang/OTP on Github"></a>
        </div>
        {% if page.rss %}
        <div>
            <a href="{{ '/' | append: page.rss | append: '.xml' | relative_url }}"><img src="{{ '/assets/img/rss-icon.png' | relative_url }}"
                    width="32" alt="Erlang/OTP rss feed"></a>
        </div>
        {% endif %}
        <div>
            <a href="http://www.twitter.com/erlang_org"><img src="{{ '/assets/img/twitter.png' | relative_url }}"
                    width="32" alt="Erlang/OTP twitter"></a>
        </div>
    </footer>
    <script src="{{'/assets/js/bootstrap/dist/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
</body>

</html>
