---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}" class="h-100">

{% assign default_title=page.name| split: "." | first | capitalize %}
{% assign title=page.title | default: default_title | append: " - " | append: site.title %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Allow pinning of website on windows -->
    <meta name="application-name" content="Erlang.org">
    <meta name="msapplication-tooltip" content="The official home of the Erlang Programming Language">
    <meta name="msapplication-starturl" content="{{ '/' | relative_url }}" >

    <!-- Make the site look nicer on facebook -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Erlang.org">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="The official home of the Erlang Programming Language">
    <meta property="og:image" content="{{ '/assets/img/erlang-228x200.png' | absolute_url }}">
    <meta property="og:image:secure_url" content="{{ '/assets/img/erlang-228x200.png' | absolute_url }}">
    <meta property="og:url" content="{{ '/' | absolute_url }}">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Index" />
    <meta name="twitter:site" content="@erlang_org" />

    <!-- Rich data for google search -->
    <script type="application/ld+json">
{"@type":"WebSite","url":"https://erlang.org/","headline":"{{ title }}","name":"Erlang.org","sameAs":["https://twitter.com/erlang_org","https://github.com/erlang/otp"],"@context":"https://schema.org"}</script>

    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- tells iOS browsers to not show telephone numbers as links -->
    <meta name="format-detection" content="telephone=no">

    <meta name="application-name" content="Erlang.org">
    <meta name="description" content="The official home of the Erlang Programming Language">
    <meta name="keywords" content="Erlang programming language functional parallel distributed documentation download community">
    <!-- https://www.rssboard.org/rss-autodiscovery -->
    <link rel="alternate" type="application/atom+xml" title="News Atom Feed" href="{{ '/news.xml' | absolute_url }}" />
    <link rel="alternate" type="application/atom+xml" title="Blog Atom Feed" href="{{ '/blog.xml' | absolute_url }}" />
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" />
    {% assign css=layout.css | default: page.css | default: 'main' %}
    <link rel="stylesheet" href="{{ '/assets/css/' | append: css | append: '.css' | relative_url }}">
</head>

<body class="d-flex flex-column h-100">
    <header class="navbar navbar-expand-lg navbar-light bg-body">
        <nav class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ '/' | relative_url }}"><img
                    src="{{ '/assets/img/erlang-logo.svg' | relative_url }}" class="img-fluid" width="60" alt="Erlang.org main page"/></a>
            <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
                <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ '/downloads' | relative_url }}">Download</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/docs' | relative_url }}">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/community' | relative_url }}">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/news' | relative_url }}">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/blog' | relative_url }}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/security' | relative_url }}">Security</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/eep' | relative_url }}">EEP</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/about' | relative_url }}">About</a></li>
                </ul>
                <form class="d-flex" role="search" method="get" action="https://duckduckgo.com/">
                    <input type="hidden" name="sites" value="erlang.org">
                    <input class="form-control me-2" id="searchfield" name="q" type="search" placeholder="Search erlang.org"
                        aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="flex-shrink-0">
        {{ content }}
    </div>
    <footer class="container-fluid footer mt-auto text-center border-top border-bottom">
        <div>
            <a href="{{ '/downloads.html' | relative_url }}" title="DOWNLOAD">
                {% include svg-symbol.html symbol="download-cloud" title="Download Erlang/OTP" width="36" height="24" %}
            </a>
        </div>
        <div>
            <a href="http://www.github.com/erlang/otp">
                {% include svg-symbol.html symbol="github" title="Erlang/OTP on Github" width="32" height="32" %}
            </a>
        </div>
        {% if page.rss %}
        <div>
            <a href="{{ '/' | append: page.rss | append: '.xml' | relative_url }}"><img src="{{ '/assets/img/rss-icon.png' | relative_url }}"
                    width="32" alt="Erlang/OTP rss feed"></a>
        </div>
        {% endif %}
        <div>
            <a href="http://www.twitter.com/erlang_org">
                {% include svg-symbol.html symbol="twitter" title="Erlang/OTP twitter" width="32" height="27" %}
            </a>
        </div>
    </footer>
    <!-- SVG icons -->
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
        <symbol id="download-cloud" viewBox="0 0 36 24">
            <defs>
                <linearGradient id="dl-cloud-gradient" x1="18.077" x2="18.077" y1=".513" y2="23.302" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#646465"/>
                    <stop offset="1" stop-color="#444"/>
                </linearGradient>
            </defs>
            <path fill="url(#dl-cloud-gradient)" d="M30.096 10.54S30.76 1.59 22.56.568c-7.03-.718-9.168 5.814-9.168 5.814s-2.117-2.035-4.99-.372c-2.57 1.587-2.116 4.492-2.116 4.492s-5.709 1.11-5.709 6.93c.128 5.812 6.2 5.87 6.2 5.87h11.621l-5.12-5.119h3.072V12.04h4.096v6.143h3.071l-5.119 5.12h10.716s5.652.005 6.446-5.524c.377-6.047-5.464-7.239-5.464-7.239Z"/>
        </symbol>
        <symbol id="download" viewBox="0 0 20 20">
            <path fill="currentColor" d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
            <path fill="currentColor" d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
        </symbol>
        <symbol id="arrow-right" viewBox="0 0 20 20">
            <path fill="currentColor" fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </symbol>
        <symbol id="github" viewBox="0 0 32 32">
            <path fill="#000" fill-rule="evenodd" d="M16 0c8.837 0 16 7.344 16 16.405 0 7.246-4.58 13.393-10.933 15.565-.811.161-1.099-.35-1.099-.788 0-.54.02-2.307.02-4.502 0-1.53-.513-2.528-1.087-3.037 3.563-.406 7.307-1.793 7.307-8.094 0-1.792-.62-3.255-1.648-4.403.166-.415.715-2.084-.157-4.343 0 0-1.34-.44-4.395 1.682A15.034 15.034 0 0 0 16 7.933a15 15 0 0 0-4.005.552C8.938 6.363 7.594 6.803 7.594 6.803c-.87 2.26-.32 3.928-.156 4.343-1.022 1.148-1.648 2.61-1.648 4.403 0 6.285 3.736 7.693 7.29 8.107-.458.41-.872 1.133-1.016 2.194-.912.419-3.229 1.144-4.656-1.364 0 0-.846-1.576-2.453-1.69 0 0-1.56-.022-.109.996 0 0 1.048.504 1.776 2.4 0 0 .94 2.928 5.39 1.936.009 1.371.023 2.664.023 3.054 0 .434-.294.941-1.093.79C4.584 29.802 0 23.651 0 16.404 0 7.344 7.165 0 16 0Z" clip-rule="evenodd"/>
        </symbol>
        <symbol id="twitter" viewBox="0 0 32 27">
            <path fill="#00AAEC" fill-rule="evenodd" d="M32 3.157a12.822 12.822 0 0 1-3.77 1.06A6.717 6.717 0 0 0 31.115.493a12.93 12.93 0 0 1-4.171 1.632A6.472 6.472 0 0 0 22.153 0c-3.623 0-6.562 3.014-6.562 6.732 0 .527.056 1.04.169 1.533-5.457-.282-10.294-2.958-13.534-7.037a6.854 6.854 0 0 0-.887 3.389 6.778 6.778 0 0 0 2.92 5.603 6.446 6.446 0 0 1-2.974-.84v.083c0 3.262 2.263 5.984 5.268 6.6-.562.16-1.145.24-1.73.238-.422 0-.836-.041-1.236-.12.836 2.673 3.259 4.621 6.133 4.673a12.963 12.963 0 0 1-8.153 2.883c-.53 0-1.054-.031-1.567-.092a18.278 18.278 0 0 0 10.063 3.022c12.077 0 18.68-10.257 18.68-19.154 0-.292-.006-.585-.018-.872 1.29-.957 2.4-2.137 3.274-3.484Z" clip-rule="evenodd"/>
        </symbol>
    </svg>
    <script src="{{'/assets/js/bootstrap/dist/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
</body>

</html>
