---
layout: default
title: "Downloads"
css: downloads
---
<!-- convert page.release to string -->
{% assign sortedReleases = site.data.releases | sort: "release" | reverse %}
{% assign latestRelease = sortedReleases | first %}
{% assign allPatches = latestRelease.patches %}
{% assign latestPatch = latestRelease.latest %}
<div class="container body border-top pt-4">
    <main class="main d-block">
        <div class="card col-md-4 float-md-end mb-3 ms-md-3">
            <div class="card-header ">
                <div class="row">
                    <div class="col text-center">
                        <strong>Latest version is {{ latestPatch }}</strong>
                    </div>
                    <div class="col-2">
                        <a href="http://www.github.com/erlang/otp/releases/tag/OTP-{{latest}}">
                            <img src="{{ '/assets/img/GitHub-Mark-32px.png' | relative_url }}"></a>
                    </div>
                </div>
            </div>
            <div class="card-body d-grid gap-2">
                <!-- Download source button group -->
                {% include downloads-button-group.html label="Download source"
                url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_src_@vsn@.tar.gz"
                latest=latestPatch releases=allPatches %}
                <!-- Download windows button group -->
                {% include downloads-button-group.html label="Download Windows installer"
                url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_win32_@vsn@.exe"
                latest=latestPatch releases=allPatches %}
                <!-- Download Release notes button group -->
                {% include downloads-button-group.html label="Download Release notes"
                url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/OTP-@vsn@.README"
                latest=latestPatch releases=allPatches %}
                <!-- View/Download docs button group -->
                {% assign latestDocsUrl='/docs/' | append: page.release | relative_url %}
                {% include downloads-button-group.html label="View documentation" latestUrl=latestDocsUrl
                url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_doc_html_@vsn@.tar.gz"
                latest=latestPatch releases=allPatches %}
            </div>
        </div>
        {{ content | markdownify }}
    </main>
    <aside class="sidebar text-muted">
        <span class="text-nowrap">
            <strong class="d-block h6 ps-3 border-bottom">All releases</strong>
        </span>
        <nav>
            <ul class="nav flex-column">

                {% for r in sortedReleases %}
                <li class="nav-item">
                    {% if r.release == page.release %}
                    <a href="{{ '/downloads/OTP-' | append: r.release | relative_url }}" aria-current="page"
                        class="nav-link active fw-bold">
                        Erlang/OTP {{ r.release }}</a>
                    {% else %}
                    <a href="{{ '/downloads/OTP-' | append: r.release | relative_url }}" class="nav-link">
                        Erlang/OTP {{ r.release }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        There is a file containing MD5 checksums for all files in the <a href="http://erlang.org/download">download
            directory</a>, also reachable
        through <code>rsync rsync.erlang.org::erlang-download</code>
    </aside>
</div>