---
layout: default
title: "Downloads"
css: downloads
---
{% assign latestRelease = site.data.releases | sort: "release" | reverse | first %}
{% assign content=content | split: "<!--end_excerpt-->" %}
<div class="container body border-top pt-4">
    <main class="main">
        <div class="header">
            {{ content[0] | markdownify }}
        </div>
        <div class="content">
            {{ content[1] | markdownify }}
        </div>
        <div class="links">
            {% assign latestDocsUrl='/docs/' | append: latestRelease.release | relative_url %}
            {% include downloads-card.html current=latestRelease.latest releases=latestRelease.patches
            currentDocsUrl=latestDocsUrl %}
        </div>
        {% include downloads-sidebar.html %}
    </main>
</div>