---
layout: default
---
<div class="container border-top pt-4">
    <div class="row-lg">
        <div class="col-lg-8 offset-lg-2">
            {{ content }}
        </div>
    </div>
</div>
<script src="{{'/assets/js/prismjs/prism.js' | prepend: site.baseurl }}"></script>
<script src="{{'/assets/js/prismjs/components/prism-erlang.js' | prepend: site.baseurl }}"></script>
<script src="{{'/assets/js/prismjs/components/prism-c.js' | prepend: site.baseurl }}"></script>
<script src="{{'/assets/js/prismjs/components/prism-bash.js' | prepend: site.baseurl }}"></script>