---
layout: default
---
<div class="container border-top pt-4">
    <div class="row-lg">
        <div class="col-lg-8 offset-lg-2">
            <article class="card mb-4">
                <div class="card-header">
                    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                    <div class="date">{{ page.date | date: "%B %d, %Y" }}{% if page.author %} · by {{ page.author }}{%
                        endif %} .
                    </div>
                </div>

                <div class="card-body">
                    {% include anchor_headings.html html=content anchorBody="#" %}
                </div>
            </article>
        </div>
    </div>
</div>
<script src="{{'/assets/js/prismjs/prism.js' | prepend: site.baseurl }}"></script>
<script src="{{'/assets/js/prismjs/components/prism-erlang.js' | prepend: site.baseurl }}"></script>