---
layout: default
title: "Downloads"
css: downloads
---
<!-- convert page.release to string -->
{% assign releaseStr = page.release | append: "" %}
{% assign releaseData = site.data.releases | find: "release", releaseStr %}
{% assign allReleases = releaseData.patches %}
{% assign latest = releaseData.latest %}
<div class="container body border-top pt-4">
    <main class="main">
        <div class="header">
            <h1>Erlang/OTP {{ page.release }}</h1>
            This release of Erlang/OTP can be built from
            <a href="{% link /docs/{{ page.release }}/installation_guide/INSTALL.html %}">source</a> or
            installed using <a href="https://erlang-solutions.com/downloads">pre-built packages</a> for your OS or
            third-party tools (such as <a href="https://github.com/kerl/kerl">kerl</a>
            or <a href="https://github.com/asdf-vm/asdf-erlang">asdf</a>).
            <div>
                <code class="docker">
                    docker run -it erlang:{{ page.release }}
                </code>
            </div>
        </div>
        <div class="links">
            {% assign latestDocsUrl='/docs/' | append: releaseData.release | relative_url %}
            {% include downloads-card.html current=latest releases=allReleases currentDocsUrl=latestDocsUrl %}
        </div>
        <div class="content">
            {{ content | markdownify }}
        </div>
    </main>
    {% include downloads-sidebar.html currentRelease=releaseData %}
</div>