---
layout: default
title: "Downloads"
css: downloads
---
{% assign tag_name = page.tag_name %}
<!-- convert page.release to string -->
{% assign releaseStr = page.release | append: "" %}
{% assign releaseData = site.data.releases | where: "release", releaseStr | first %}
{% assign allReleases = releaseData.patches %}
{% assign latest = releaseData.latest %}
<div class="container body border-top pt-4">
    <main class="main">
        <div class="header">
            <h1>Erlang/OTP {{ page.tag_name }}</h1>
            This release of Erlang/OTP can be installed from <a
                href="/docs/{{ page.release }}/installation_guide/INSTALL.html">source</a>, using <a
                href="https://erlang-solutions.com/downloads">pre-built
                packages</a> for your OS or third-party tools (such as <a href="https://github.com/kerl/kerl">kerl</a>
            or <a href="https://github.com/asdf-vm/asdf-erlang">asdf</a>).
            <div>
                <code class="docker">
                    <a href="https://hub.docker.com/_/erlang">docker</a> run -it erlang:{{ page.release }}
                </code>
            </div>
        </div>
        <div class="links">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col text-center">
                            <strong>Latest version is {{ latest }}</strong>
                        </div>
                        <div class="col-2">
                            <a href="http://www.github.com/erlang/otp/releases/tag/OTP-{{latest}}">
                                <img src="{{ '/assets/img/GitHub-Mark-32px.png' | relative_url }}"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body d-grid gap-2">
                    <!-- Download source button group -->
                    {% include downloads-button-group.html label="Download source"
                    url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_src_@vsn@.tar.gz"
                    latest=latest releases=allReleases %}
                    <!-- Download windows button group -->
                    {% include downloads-button-group.html label="Download Windows installer"
                    url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_win32_@vsn@.exe"
                    latest=latest releases=allReleases %}
                    <!-- Download Release notes button group -->
                    {% include downloads-button-group.html label="Download Release notes"
                    url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/OTP-@vsn@.README"
                    latest=latest releases=allReleases %}
                    <!-- View/Download docs button group -->
                    {% assign latestDocsUrl='/docs/' | append: page.release | relative_url %}
                    {% include downloads-button-group.html label="View documentation" latestUrl=latestDocsUrl
                    url="https://github.com/erlang/otp/releases/download/OTP-@vsn@/otp_doc_html_@vsn@.tar.gz"
                    latest=latest releases=allReleases %}
                </div>
            </div>
        </div>
        <div class="content">
            <h2>Highlights</h2>
            {{ page.content | markdownify }}
        </div>
    </main>
    <aside class="sidebar text-muted text-nowrap">
        <strong class="d-block h6 ps-3 border-bottom">All releases</strong>
        <nav>
            <ul class="nav flex-column">
                {% assign sortedReleases=site.data.releases | sort: "release" | reverse %}
                {% for r in sortedReleases %}
                <li class="nav-item">
                    {% if r.release == page.release %}
                    <a href="{{ '/downloads/OTP-' | append: r.release | relative_url }}" aria-current="page"
                        class="nav-link active fw-bold">
                        Erlang/OTP {{ r.release }}</a>
                    {% else %}
                    <a href="{{ '/downloads/OTP-' | append: r.release | relative_url }}" class="nav-link">
                        Erlang/OTP {{ r.release }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
</div>